extensions/components/dllearner/main.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.dllearner.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.dllearner.org/" name="DLLearnerWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.dllearner.org/" schemaLocation="def0.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="def1.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="init">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="initResponse"></message>
<message name="ClientNotKnownException">
<part name="fault" element="tns:ClientNotKnownException"></part>
</message>
<message name="UnknownComponentException">
<part name="fault" element="tns:UnknownComponentException"></part>
</message>
<message name="ComponentInitException">
<part name="fault" element="tns:ComponentInitException"></part>
</message>
<message name="stop">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="stopResponse"></message>
<message name="getBuild"></message>
<message name="getBuildResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="ping"></message>
<message name="pingResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="generateID"></message>
<message name="generateIDResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="getComponents"></message>
<message name="getComponentsResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="getKnowledgeSources"></message>
<message name="getKnowledgeSourcesResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<message name="getReasoners"></message>
<message name="getReasonersResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"></part>
</message>
<message name="getLearningProblems"></message>
<message name="getLearningProblemsResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray"></part>
</message>
<message name="getLearningAlgorithms"></message>
<message name="getLearningAlgorithmsResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray"></part>
</message>
<message name="getConfigOptions">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:boolean"></part>
</message>
<message name="getConfigOptionsResponse">
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="return" type="ns6:stringArray"></part>
</message>
<message name="addKnowledgeSource">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="addKnowledgeSourceResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"></part>
</message>
<message name="removeKnowledgeSource">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="removeKnowledgeSourceResponse"></message>
<message name="setReasoner">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setReasonerResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="setLearningProblem">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setLearningProblemResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="setLearningAlgorithm">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setLearningAlgorithmResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="LearningProblemUnsupportedException">
<part name="fault" element="tns:LearningProblemUnsupportedException"></part>
</message>
<message name="initAll">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="initAllResponse"></message>
<message name="learn">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="learnResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="learnDescriptionsEvaluated">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="learnDescriptionsEvaluatedResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getCurrentlyBestEvaluatedDescriptions">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getCurrentlyBestEvaluatedDescriptionsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="learnDescriptionsEvaluatedLimit">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="learnDescriptionsEvaluatedLimitResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="learnThreaded">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="learnThreadedResponse"></message>
<message name="getCurrentlyBestConcept">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getCurrentlyBestConceptResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getCurrentlyBestConcepts">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getCurrentlyBestConceptsResponse">
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="return" type="ns7:stringArray"></part>
</message>
<message name="getCurrentlyBestEvaluatedDescriptionsFiltered">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:double"></part>
<part name="arg3" type="xsd:boolean"></part>
</message>
<message name="getCurrentlyBestEvaluatedDescriptionsFilteredResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="isAlgorithmRunning">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="isAlgorithmRunningResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="setPositiveExamples">
<part name="arg0" type="xsd:int"></part>
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="arg1" type="ns8:stringArray"></part>
</message>
<message name="setPositiveExamplesResponse"></message>
<message name="setNegativeExamples">
<part name="arg0" type="xsd:int"></part>
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="arg1" type="ns9:stringArray"></part>
</message>
<message name="setNegativeExamplesResponse"></message>
<message name="applyConfigEntryInt">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="applyConfigEntryIntResponse"></message>
<message name="applyConfigEntryString">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="applyConfigEntryStringResponse"></message>
<message name="applyConfigEntryURL">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="applyConfigEntryURLResponse"></message>
<message name="applyConfigEntryStringArray">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="arg3" type="ns10:stringArray"></part>
</message>
<message name="applyConfigEntryStringArrayResponse"></message>
<message name="applyConfigEntryBoolean">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:boolean"></part>
</message>
<message name="applyConfigEntryBooleanResponse"></message>
<message name="getConfigOptionValueStringArray">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueStringArrayResponse">
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="return" type="ns11:stringArray"></part>
</message>
<message name="ConfigOptionTypeException">
<part name="fault" element="tns:ConfigOptionTypeException"></part>
</message>
<message name="getConfigOptionValueString">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueStringResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueURL">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueURLResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueDouble">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueDoubleResponse">
<part name="return" type="xsd:double"></part>
</message>
<message name="getConfigOptionValueBoolean">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueBooleanResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getConfigOptionValueInt">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getConfigOptionValueIntResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="getAtomicConcepts">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getAtomicConceptsResponse">
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="return" type="ns12:stringArray"></part>
</message>
<message name="getSubsumptionHierarchy">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getSubsumptionHierarchyResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="retrieval">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="retrievalResponse">
<part xmlns:ns13="http://jaxb.dev.java.net/array" name="return" type="ns13:stringArray"></part>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="getConceptLength">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getConceptLengthResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="getAtomicRoles">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getAtomicRolesResponse">
<part xmlns:ns14="http://jaxb.dev.java.net/array" name="return" type="ns14:stringArray"></part>
</message>
<message name="getInstances">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getInstancesResponse">
<part xmlns:ns15="http://jaxb.dev.java.net/array" name="return" type="ns15:stringArray"></part>
</message>
<message name="getIndividualsForARole">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getIndividualsForARoleResponse">
<part xmlns:ns16="http://jaxb.dev.java.net/array" name="return" type="ns16:stringArray"></part>
</message>
<message name="getAsJSON">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getAsJSONResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="SparqlQueryException">
<part name="fault" element="tns:SparqlQueryException"></part>
</message>
<message name="getAsXMLString">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getAsXMLStringResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="sparqlQueryThreaded">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="sparqlQueryThreadedResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="sparqlQuery">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="sparqlQueryResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="sparqlQueryPredefinedEndpoint">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:boolean"></part>
</message>
<message name="sparqlQueryPredefinedEndpointResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="isSparqlQueryRunning">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="isSparqlQueryRunningResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="stopSparqlThread">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="stopSparqlThreadResponse"></message>
<message name="getConceptDepth">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getConceptDepthResponse">
<part xmlns:ns17="http://jaxb.dev.java.net/array" name="return" type="ns17:intArray"></part>
</message>
<message name="getConceptArity">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getConceptArityResponse">
<part xmlns:ns18="http://jaxb.dev.java.net/array" name="return" type="ns18:intArray"></part>
</message>
<message name="SparqlRetrieval">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="SparqlRetrievalResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getNaturalDescription">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getNaturalDescriptionResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getNegativeExamples">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
<part xmlns:ns19="http://jaxb.dev.java.net/array" name="arg2" type="ns19:stringArray"></part>
<part name="arg3" type="xsd:int"></part>
<part name="arg4" type="xsd:string"></part>
<part xmlns:ns20="http://jaxb.dev.java.net/array" name="arg5" type="ns20:stringArray"></part>
</message>
<message name="getNegativeExamplesResponse">
<part xmlns:ns21="http://jaxb.dev.java.net/array" name="return" type="ns21:stringArray"></part>
</message>
<portType name="DLLearnerWebService">
<operation name="init" parameterOrder="arg0 arg1">
<input message="tns:init"></input>
<output message="tns:initResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ComponentInitException" name="ComponentInitException"></fault>
</operation>
<operation name="stop" parameterOrder="arg0">
<input message="tns:stop"></input>
<output message="tns:stopResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getBuild" parameterOrder="">
<input message="tns:getBuild"></input>
<output message="tns:getBuildResponse"></output>
</operation>
<operation name="ping" parameterOrder="">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="generateID" parameterOrder="">
<input message="tns:generateID"></input>
<output message="tns:generateIDResponse"></output>
</operation>
<operation name="getComponents" parameterOrder="">
<input message="tns:getComponents"></input>
<output message="tns:getComponentsResponse"></output>
</operation>
<operation name="getKnowledgeSources" parameterOrder="">
<input message="tns:getKnowledgeSources"></input>
<output message="tns:getKnowledgeSourcesResponse"></output>
</operation>
<operation name="getReasoners" parameterOrder="">
<input message="tns:getReasoners"></input>
<output message="tns:getReasonersResponse"></output>
</operation>
<operation name="getLearningProblems" parameterOrder="">
<input message="tns:getLearningProblems"></input>
<output message="tns:getLearningProblemsResponse"></output>
</operation>
<operation name="getLearningAlgorithms" parameterOrder="">
<input message="tns:getLearningAlgorithms"></input>
<output message="tns:getLearningAlgorithmsResponse"></output>
</operation>
<operation name="getConfigOptions" parameterOrder="arg0 arg1">
<input message="tns:getConfigOptions"></input>
<output message="tns:getConfigOptionsResponse"></output>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="addKnowledgeSource" parameterOrder="arg0 arg1 arg2">
<input message="tns:addKnowledgeSource"></input>
<output message="tns:addKnowledgeSourceResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:MalformedURLException" name="MalformedURLException"></fault>
</operation>
<operation name="removeKnowledgeSource" parameterOrder="arg0 arg1">
<input message="tns:removeKnowledgeSource"></input>
<output message="tns:removeKnowledgeSourceResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="setReasoner" parameterOrder="arg0 arg1">
<input message="tns:setReasoner"></input>
<output message="tns:setReasonerResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="setLearningProblem" parameterOrder="arg0 arg1">
<input message="tns:setLearningProblem"></input>
<output message="tns:setLearningProblemResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="setLearningAlgorithm" parameterOrder="arg0 arg1">
<input message="tns:setLearningAlgorithm"></input>
<output message="tns:setLearningAlgorithmResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:LearningProblemUnsupportedException" name="LearningProblemUnsupportedException"></fault>
</operation>
<operation name="initAll" parameterOrder="arg0">
<input message="tns:initAll"></input>
<output message="tns:initAllResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:ComponentInitException" name="ComponentInitException"></fault>
</operation>
<operation name="learn" parameterOrder="arg0 arg1">
<input message="tns:learn"></input>
<output message="tns:learnResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="learnDescriptionsEvaluated" parameterOrder="arg0">
<input message="tns:learnDescriptionsEvaluated"></input>
<output message="tns:learnDescriptionsEvaluatedResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getCurrentlyBestEvaluatedDescriptions" parameterOrder="arg0 arg1">
<input message="tns:getCurrentlyBestEvaluatedDescriptions"></input>
<output message="tns:getCurrentlyBestEvaluatedDescriptionsResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="learnDescriptionsEvaluatedLimit" parameterOrder="arg0 arg1">
<input message="tns:learnDescriptionsEvaluatedLimit"></input>
<output message="tns:learnDescriptionsEvaluatedLimitResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="learnThreaded" parameterOrder="arg0">
<input message="tns:learnThreaded"></input>
<output message="tns:learnThreadedResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getCurrentlyBestConcept" parameterOrder="arg0">
<input message="tns:getCurrentlyBestConcept"></input>
<output message="tns:getCurrentlyBestConceptResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getCurrentlyBestConcepts" parameterOrder="arg0 arg1 arg2">
<input message="tns:getCurrentlyBestConcepts"></input>
<output message="tns:getCurrentlyBestConceptsResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getCurrentlyBestEvaluatedDescriptionsFiltered" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getCurrentlyBestEvaluatedDescriptionsFiltered"></input>
<output message="tns:getCurrentlyBestEvaluatedDescriptionsFilteredResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="isAlgorithmRunning" parameterOrder="arg0">
<input message="tns:isAlgorithmRunning"></input>
<output message="tns:isAlgorithmRunningResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="setPositiveExamples" parameterOrder="arg0 arg1">
<input message="tns:setPositiveExamples"></input>
<output message="tns:setPositiveExamplesResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="setNegativeExamples" parameterOrder="arg0 arg1">
<input message="tns:setNegativeExamples"></input>
<output message="tns:setNegativeExamplesResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="applyConfigEntryInt" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:applyConfigEntryInt"></input>
<output message="tns:applyConfigEntryIntResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="applyConfigEntryString" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:applyConfigEntryString"></input>
<output message="tns:applyConfigEntryStringResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="applyConfigEntryURL" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:applyConfigEntryURL"></input>
<output message="tns:applyConfigEntryURLResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:MalformedURLException" name="MalformedURLException"></fault>
</operation>
<operation name="applyConfigEntryStringArray" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:applyConfigEntryStringArray"></input>
<output message="tns:applyConfigEntryStringArrayResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="applyConfigEntryBoolean" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:applyConfigEntryBoolean"></input>
<output message="tns:applyConfigEntryBooleanResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
</operation>
<operation name="getConfigOptionValueStringArray" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueStringArray"></input>
<output message="tns:getConfigOptionValueStringArrayResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getConfigOptionValueString" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueString"></input>
<output message="tns:getConfigOptionValueStringResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getConfigOptionValueURL" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueURL"></input>
<output message="tns:getConfigOptionValueURLResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getConfigOptionValueDouble" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueDouble"></input>
<output message="tns:getConfigOptionValueDoubleResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getConfigOptionValueBoolean" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueBoolean"></input>
<output message="tns:getConfigOptionValueBooleanResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getConfigOptionValueInt" parameterOrder="arg0 arg1 arg2">
<input message="tns:getConfigOptionValueInt"></input>
<output message="tns:getConfigOptionValueIntResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
<fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
</operation>
<operation name="getAtomicConcepts" parameterOrder="arg0">
<input message="tns:getAtomicConcepts"></input>
<output message="tns:getAtomicConceptsResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getSubsumptionHierarchy" parameterOrder="arg0">
<input message="tns:getSubsumptionHierarchy"></input>
<output message="tns:getSubsumptionHierarchyResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="retrieval" parameterOrder="arg0 arg1">
<input message="tns:retrieval"></input>
<output message="tns:retrievalResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:ParseException" name="ParseException"></fault>
</operation>
<operation name="getConceptLength" parameterOrder="arg0">
<input message="tns:getConceptLength"></input>
<output message="tns:getConceptLengthResponse"></output>
<fault message="tns:ParseException" name="ParseException"></fault>
</operation>
<operation name="getAtomicRoles" parameterOrder="arg0">
<input message="tns:getAtomicRoles"></input>
<output message="tns:getAtomicRolesResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getInstances" parameterOrder="arg0">
<input message="tns:getInstances"></input>
<output message="tns:getInstancesResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getIndividualsForARole" parameterOrder="arg0 arg1">
<input message="tns:getIndividualsForARole"></input>
<output message="tns:getIndividualsForARoleResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getAsJSON" parameterOrder="arg0 arg1">
<input message="tns:getAsJSON"></input>
<output message="tns:getAsJSONResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:SparqlQueryException" name="SparqlQueryException"></fault>
</operation>
<operation name="getAsXMLString" parameterOrder="arg0 arg1">
<input message="tns:getAsXMLString"></input>
<output message="tns:getAsXMLStringResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
<fault message="tns:SparqlQueryException" name="SparqlQueryException"></fault>
</operation>
<operation name="sparqlQueryThreaded" parameterOrder="arg0 arg1 arg2">
<input message="tns:sparqlQueryThreaded"></input>
<output message="tns:sparqlQueryThreadedResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="sparqlQuery" parameterOrder="arg0 arg1 arg2">
<input message="tns:sparqlQuery"></input>
<output message="tns:sparqlQueryResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="sparqlQueryPredefinedEndpoint" parameterOrder="arg0 arg1 arg2">
<input message="tns:sparqlQueryPredefinedEndpoint"></input>
<output message="tns:sparqlQueryPredefinedEndpointResponse"></output>
</operation>
<operation name="isSparqlQueryRunning" parameterOrder="arg0 arg1">
<input message="tns:isSparqlQueryRunning"></input>
<output message="tns:isSparqlQueryRunningResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="stopSparqlThread" parameterOrder="arg0 arg1">
<input message="tns:stopSparqlThread"></input>
<output message="tns:stopSparqlThreadResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getConceptDepth" parameterOrder="arg0 arg1">
<input message="tns:getConceptDepth"></input>
<output message="tns:getConceptDepthResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getConceptArity" parameterOrder="arg0 arg1">
<input message="tns:getConceptArity"></input>
<output message="tns:getConceptArityResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="SparqlRetrieval" parameterOrder="arg0 arg1">
<input message="tns:SparqlRetrieval"></input>
<output message="tns:SparqlRetrievalResponse"></output>
<fault message="tns:ParseException" name="ParseException"></fault>
</operation>
<operation name="getNaturalDescription" parameterOrder="arg0 arg1 arg2">
<input message="tns:getNaturalDescription"></input>
<output message="tns:getNaturalDescriptionResponse"></output>
<fault message="tns:ParseException" name="ParseException"></fault>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
<operation name="getNegativeExamples" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:getNegativeExamples"></input>
<output message="tns:getNegativeExamplesResponse"></output>
<fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
</operation>
</portType>
<binding name="DLLearnerWebServicePortBinding" type="tns:DLLearnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="init">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ComponentInitException">
<soap:fault name="ComponentInitException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="stop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBuild">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="generateID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getComponents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getKnowledgeSources">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getReasoners">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getLearningProblems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getLearningAlgorithms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="getConfigOptions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addKnowledgeSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeKnowledgeSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setReasoner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setLearningProblem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setLearningAlgorithm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="LearningProblemUnsupportedException">
<soap:fault name="LearningProblemUnsupportedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="initAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="ComponentInitException">
<soap:fault name="ComponentInitException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="learn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="learnDescriptionsEvaluated">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCurrentlyBestEvaluatedDescriptions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="learnDescriptionsEvaluatedLimit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="learnThreaded">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCurrentlyBestConcept">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCurrentlyBestConcepts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCurrentlyBestEvaluatedDescriptionsFiltered">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="isAlgorithmRunning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setPositiveExamples">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setNegativeExamples">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyConfigEntryInt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyConfigEntryString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyConfigEntryURL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyConfigEntryStringArray">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="applyConfigEntryBoolean">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueStringArray">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueURL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueDouble">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueBoolean">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConfigOptionValueInt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="UnknownComponentException">
<soap:fault name="UnknownComponentException" use="literal"></soap:fault>
</fault>
<fault name="ConfigOptionTypeException">
<soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAtomicConcepts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSubsumptionHierarchy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="retrieval">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConceptLength">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAtomicRoles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getInstances">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getIndividualsForARole">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAsJSON">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="SparqlQueryException">
<soap:fault name="SparqlQueryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAsXMLString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
<fault name="SparqlQueryException">
<soap:fault name="SparqlQueryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="sparqlQueryThreaded">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="sparqlQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="sparqlQueryPredefinedEndpoint">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
</operation>
<operation name="isSparqlQueryRunning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="stopSparqlThread">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConceptDepth">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConceptArity">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="SparqlRetrieval">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNaturalDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNegativeExamples">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
</output>
<fault name="ClientNotKnownException">
<soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DLLearnerWSService">
<port name="DLLearnerWebServicePort" binding="tns:DLLearnerWebServicePortBinding">
<soap:address location="http://localhost:8181/services"></soap:address>
</port>
</service>
</definitions>
